﻿@model IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Produkty</h2>

<div class="col-xs-1 col-lg-offset-11">
    <button type="button" class="btn btn-default" id="btn-insert">
        <i class="glyphicon-plus"></i>
    </button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Products) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <img class="image-thumbnail" src="@item.ImageURL" alt="@item.Name" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
}
    </tbody>
</table>

@section  scripts{ 
    <script>
        $(document).ready(() => {
            $('#btn-insert').click(createRow);
            $(document).on('click', '.btn-discard', discard);
            $(document).on('click', '.btn-save', insert);
        })

        function discard() {
            const row = $(this).closest('tr');
            row.remove();
        }

        function insert() {
            const row = $(this).closest('tr');
            const inputs = row.find('input');
            const form = document.createElement('form');
            inputs.map((i, input) => form.append(input.cloneNode()));
            const formData = new FormData(form);

            $.ajax({
                method: 'POST',
                url: '@Url.Action("Insert")',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    row.find('.id').text(data.ID);
                    row.find('.name').html(data.name);
                    row.find('.price').html(data.price);
                    row.find('.image').html(createImage(data.imageURL));
                }
            });
        }

        function update() {
            const row = $(this).closest('tr');
            const inputs = row.find('input');
            const form = document.updateElement('form');
            const formData = new FormData(form);

            $.ajax({
                method: 'POST',
                url: '@Url.Action("Edit")',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    row.find('.id').text(data.ID);
                    row.find('.name').html(data.name);
                    row.find('.price').html(data.price);
                    row.find('.image').html(createImage(data.imageURL));
                }
            });
        }

        function createImage(url) {
            const img = document.createElement('img');
            img.src = url;
            img.classList.add('image-thumbnail');
            
            return img;
        }

        function createRow() {
            const table = $('table tbody');
            table.prepend(
                '<tr>'
                    + '<td class="id"></td>'
                    + '<td class="name">'
                        + '<input type="text" class="form-control" name="Name" />'
                    + '</td >'
                    + '<td class="price">'
                        + '<input type="number" class="form-control" name="Price" />'
                    + '</td >'
                    + '<td class="image">'
                        + '<input type="file" class="form-control" name="Image" />'
                    + '</td >'
                    + '<td>'
                        + '<button type="button" class="btn btn-primary btn-save">Uložit</button>'
                        + '<button type="button" class="btn btn-danger btn-discard">Zahodit</button>'
                    + '</td>'
                + '<tr>'
            );
        }
    </script>
}
